In [9]:
import sys, os
import pandas as pd
sys.path.append(os.path.realpath('..'))
from MiningBot.AuditHistory.History import History
import json
import socket
from datetime import datetime, timedelta

In [2]:
config_dir = r'../MiningBot/Configs/configs.json'
config = json.load(open(config_dir))[socket.gethostname()]

In [3]:
log = History(config_dir=config_dir)

In [4]:
records = log.get_all()

In [5]:
df = pd.DataFrame(records)
df = df.sort_values(by='datetime', ascending=False)
df['datetime'] = pd.to_datetime(df['datetime'])
df['timedelta'] = df['datetime'].diff().dt.seconds.div(60, fill_value=0)
df

,_id,datetime,action,context,timedelta
94,63f4a7bf726cf8c3937033ee,2023-02-21 11:15:11.129,Extraction,,0.000000
93,63f4a7b7726cf8c3937033ed,2023-02-21 11:15:03.649,Navigating,Site One Alpha,1439.866667
92,63f4a773726cf8c3937033ec,2023-02-21 11:13:55.159,Navigating,Site Two Alpha,1438.850000
91,63f4a67b726cf8c3937033eb,2023-02-21 11:09:47.589,Navigating,Home,1435.866667
90,63f4a59f726cf8c3937033ea,2023-02-21 11:06:07.749,Extraction,,1436.333333
...,...,...,...,...,...
4,63f42151d2bfb6cfc297a6f4,2023-02-21 01:41:37.885,Extraction,,1431.383333
3,63f41f4dd2bfb6cfc297a6f3,2023-02-21 01:33:01.297,Extraction,,1431.383333
2,63f41dfcd2bfb6cfc297a6f2,2023-02-21 01:27:24.965,Extraction,,1434.383333
1,63f41cacd2bfb6cfc297a6f1,2023-02-21 01:21:48.775,Extraction,,1434.383333
0,63f41ca5d2bfb6cfc297a6f0,2023-02-21 01:21:41.055,Navigating,Site Two Alpha,1439.866667

In [14]:
datetime.utcnow() + timedelta(minutes=30)

datetime.datetime(2023, 2, 22, 1, 5, 46, 420176)

In [15]:
datetime.utcnow()

datetime.datetime(2023, 2, 22, 0, 35, 52, 101489)