In [17]:
import sys, os
import pandas as pd
sys.path.append(os.path.realpath('..'))
from MiningBot.AuditHistory.History import History
import json
import socket

In [18]:
config_dir = r'../MiningBot/Configs/configs.json'
config = json.load(open(config_dir))[socket.gethostname()]

In [19]:
log = History(config_dir=config_dir)

In [20]:
records = log.get_all()

In [21]:
pd.DataFrame(records)

,_id,datetime,action,context
0,63f41ca5d2bfb6cfc297a6f0,2023-02-21 01:21:41.055,Navigating,Site Two Alpha
1,63f41cacd2bfb6cfc297a6f1,2023-02-21 01:21:48.775,Extraction,
2,63f41dfcd2bfb6cfc297a6f2,2023-02-21 01:27:24.965,Extraction,